.container{
width:300px;
margin:10px auto;
}

.block{
padding:10px;
margin-bottom:10px;
border:2px dashed #ccc;
color:#CC0000;
background:rgba(255, 234, 171, 0.5);
}



/*створення сітки. крок 1*/
.column1{
float:left;
width:40px;
}

/*створення сітки. крок 2

На першому кроці ми за допомогою властивості float змінили поведінку першого блоку.

Зверніть увагу, як він став наїжджати на наступні блоки. Це одна з особливостей флоат.

Зараз будемо змінювати поведінку другого блоку.*/

.column2{
float: left;
width:80px;
margin-left: 4px;
}

 

/*З другим блоком розібралися. Тепер перші два блоки наїжджають на третій.

Щоб отримати потрібний нам потік, залишилося задати розміри третього блоку, відцентрувати його і позбутися від ефекту «наїзджання».

Допоможе нам у цьому властивість clear.*/

.column3{
float:left;
width:40px;
}

.footer{
 clear: both;
}